<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GENERIC_V16.My.MySettings.Generic_dbConnectionString" connectionString="Data Source=|DataDirectory|\App_Data\Generic_db.sdf"/>
    </connectionStrings>
  <appSettings>
    <add key="bigint" value="Long"/>
    <add key="image" value="Byte()"/>
    <add key="binary" value="Byte()"/>
    <add key="blob" value="Byte()"/>
    <add key="bit" value="Boolean"/>
    <add key="bool" value="Boolean"/>
    <add key="boolean" value="Boolean"/>
    <add key="char" value="String"/>
    <add key="date" value="Date"/>
    <add key="datetime" value="DateTime"/>
    <add key="datetime2" value="DateTime"/>
    <add key="DATETIMEOFFSET" value="DateTimeOffset"/>
    <add key="decimal" value="Decimal"/>
    <add key="double" value="Double"/>
    <add key="enum" value="Integer"/>
    <add key="float" value="Double"/>
    <add key="int" value="Integer"/>
    <add key="longblob" value="Byte()"/>
    <add key="longtext" value="String"/>
    <add key="mediumblob" value="Byte()"/>
    <add key="mediumint" value="Integer"/>
    <add key="mediumtext" value="String"/>
    <add key="money" value="Decimal"/>
    <add key="nchar" value="String"/>
    <add key="nvarchar" value="String"/>
    <add key="numeric" value="Double"/>
    <add key="real" value="Double"/>
    <add key="rowversion" value="Byte()"/>
    <add key="smallint" value="Integer"/>
    <add key="smallmoney" value="Decimal"/>
    <add key="text" value="String"/>
    <add key="time" value="TimeSpan"/>
    <add key="timespan" value="TimeSpan"/>
    <add key="tinyblob" value="Byte()"/>
    <add key="tinyint" value="Byte"/>
    <add key="tinytext" value="String"/>
    <add key="varbinary" value="Byte()"/>
    <add key="varchar" value="String"/>
    <add key="year" value="String"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
    <system.diagnostics>
        <sources>
            <!-- Cette section définit la configuration de l'enregistrement dans le fichier journal de My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Supprimez les marques de commentaire dans la section suivante pour écrire dans le journal des événements de l'application -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Supprimez les marques de commentaire dans la section suivante et remplacez APPLICATION_NAME par le nom de votre application à écrire dans le journal des événements de l'application -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
